.reasons {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 2rem;
}

.left {
    flex: 1 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    /* grid-auto-rows: 1fr; */
}

.left>img {
    object-fit: cover; /* Элемент меняет свой размер таким образом, чтобы сохранять свои пропорции при заполнении блока*/
}

.left>:nth-child(1) {
    width: 12rem;
    height: 28rem;
    grid-row: 1/3;
}

.left>:nth-child(2) {
    width: auto;
    height: 16rem;
    grid-column: 2/4;
}

.left>:nth-child(3) {
    width: 14rem;
    height: 11rem;
    grid-column: 2/3;
    grid-row: 2;
}

.left>:nth-child(4) {
    width: 10rem;
    height: 11rem;
    grid-column: 3/4;
    grid-row: 2;
}

.right {
    /* display: flex;
    flex-direction: column; */
    gap: 1rem;
    text-transform: uppercase;
    flex: 1 1;
}

.right>span {
    font-weight: bold;
    font-size: 2rem;
    color: var(--orange);
}

.right>div {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.right-text {
    margin-bottom: 10px;
}

.details {
    display: flex;
    flex-direction: column;
}

.details>div {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    gap: 1rem;
}

.details>div>img {
    width: 2rem;
    height: 2rem;
}

.details>div>span {
    font-size: 1rem;
}

.partners>span {
    font-size: 1.2rem;
    font-weight: 100;
    gap: 1rem;
}

.image {
    display: flex;
    gap: 1rem;
}

.image>img {
    width: 2.5rem;
}

@media screen and (max-width: 768px) {
    .reasons {
        flex-direction: column;
    }

    .left {
        grid-auto-rows: auto;
        overflow: hidden;
    }

    .left>:nth-child(1) {
        width: 7rem;
        height: 17rem;
    }

    .left>:nth-child(2) {
        width: 12rem;
        height: 10rem;
    }

    .left>:nth-child(3) {
        width: 8rem;
        height: 6rem;
    }

    .left>:nth-child(4) {
        width: 7rem;
        height: 6rem;
    }

    .right>span {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .right>div {
        font-size: 1.8rem;
        padding-top: 5px;
    }

    .right-text {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .details>div>span {
        font-size: 0.8rem;
        line-height: 18px;
    }

    .details>div>img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .partners {
        padding-bottom: 2rem;
        margin-top: 1.5rem;
    }
}